*.d
*.exe
*.gcda
*.gcno
*.gcov
*.info
*.log
*.o
*.so
*.sql3
*.swo
*.swp
*.tar.gz
*.tmp
*.trs
*.zip
*~
.DS_Store
.deps
.dirstamp
Makefile
Makefile.in
TAGS
_deps
a.out
aclocal.m4
ar-lib
autom4te.cache
be20_api-*-*/
build-aux/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
out/
stamp-h1
stand
test-driver
test-program.cpp
test_be20_api
test_be20api
test_be20api_catch2
tests/Makefile
x.cpp
test_be20_api
README
stamp-h
*.old
