plugins/stamp-h1
*.so
*.dSYM
*~
*.log
Makefile.in
.deps
aclocal.m4
autom4te.cache
plugins/beconfig.h.in
plugins/beconfig.h
*.o
*.d
plugins/scan_flexdemo.cpp
plugins/Makefile
plugins/demo
plugins/depcomp
plugins/install-sh
plugins/config.sub
plugins/config.status
plugins/config.guess
plugins/configure
plugins/missing
stamp-h
install-sh
depcomp
configure
missing
config.h.in
