[submodule "src/be13_api"]
	path = src/be13_api
	url = git://github.com/simsong/be13_api.git
[submodule "src/dfxml"]
	path = src/dfxml
	url = https://github.com/simsong/dfxml.git
[submodule "src/sceadan"]
	path = src/sceadan
	url = git://github.com/nbeebe/sceadan.git
