[submodule "src/be20_api"]
	path = src/be20_api
	url = https://github.com/simsong/be20_api.git
[submodule "dfxml_schema"]
	path = dfxml_schema
	url = https://github.com/dfxml-working-group/dfxml_schema.git
