*.d
*.exe
*.gcda
*.gcno
*.gcov
*.la
*.log
*.tar.gz
*.trs
.deps
.libs
Makefile
Makefile.defs
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
cpu_stat
depcomp
dfxml_config.h
dfxml_config.h.in
dfxml_demo
iblkfind
install-sh
libtool
ltmain.sh
missing
testapp
testapp_catch2
test_dfxml